<div class="fixed w-full h-[80px] bg-black text-white flex px-5 items-center justify-between">
  <a href="/">Daily News</a>
  <ul class="flex gap-5">
    <li><a href="#">Fav</a></li>
    <li><a href="#">Read</a></li>
  </ul>
</div>
